svg:not(:root) {
    overflow: hidden;
}
.t-log {
    display: flex;
    position: relative;
    min-height: 100px;
    margin-bottom: 32px;
}
.t-th-tree {
    box-sizing: border-box;
    display: flex;
    -webkit-box-pack: end;
    justify-content: flex-end;
}
.t-flow-rect {
    stroke: transparent;
    fill: transparent;
}
.t-flow-line {
    fill: none;
    stroke-width: 1px;
    stroke: rgb(54, 179, 126);
}
.t-flow-circle {
    r: 2;
    cursor: pointer;
    transition: r 0.3s ease-out 0s;
    stroke-width: 4px;
    stroke: transparent;
    fill: rgb(54, 179, 126);
}
.t-flow-circle:hover, .t-flow-circle:focus {
    r: 5;
    fill: rgb(255, 255, 255);
    stroke: rgb(54, 179, 126);
}

.t0 {
    fill: rgb(54, 179, 126);
}
.c0 {
    stroke: rgb(54, 179, 126);
}
.c0:hover, .c0:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(54, 179, 126);
}

.t1 {
    fill: rgb(232, 181, 13);
}
.c1 {
    stroke: rgb(232, 181, 13);
}
.c1:hover, .c1:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(232, 181, 13);
}

.t2 {
    fill: rgb(255, 86, 48)
}
.c2 {
    stroke: rgb(255, 86, 48)
}
.c2:hover, .c2:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 86, 48)
}

.t3 {
    fill: rgb(0, 101, 255)
}
.c3 {
    stroke: rgb(0, 101, 255)
}
.c3:hover, .c3:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(0, 101, 255)
}

.t4 {
    fill: rgb(0, 184, 217);
}
.c4 {
    stroke: rgb(0, 184, 217);
}
.c4:hover, .c4:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(0, 184, 217);
}

.t5 {
    fill: rgb(255, 171, 0);
}
.c5 {
    stroke: rgb(255, 171, 0);
}
.c5:hover, .c5:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(255, 171, 0);
}

.t6 {
    fill: rgb(102, 179, 54);
}
.c6 {
    stroke: rgb(102, 179, 54);
}
.c6:hover, .c6:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(102, 179, 54);
}

.t7 {
    fill: rgb(148, 54, 179);
}
.c7 {
    stroke: rgb(148, 54, 179);
}
.c7:hover, .c7:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(148, 54, 179);
}

.t8 {
    fill: rgb(179, 110, 54);
}
.c8 {
    stroke: rgb(179, 110, 54);
}
.c8:hover, .c8:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(179, 110, 54);
}

.t9 {
    fill: rgb(54, 146, 179);
}
.c9 {
    stroke: rgb(54, 146, 179);
}
.c9:hover, .c9:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(54, 146, 179);
}

.t10 {
    fill: rgb(114, 54, 179);
}
.c10 {
    stroke: rgb(114, 54, 179);
}
.c10:hover, .c10:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(114, 54, 179);
}

.t11 {
    fill: rgb(203, 155, 55);
}
.c11 {
    stroke: rgb(203, 155, 55);
}
.c11:hover, .c11:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(203, 155, 55);
}

.t12 {
    fill: rgb(179, 54, 169);
}
.c12 {
    stroke: rgb(179, 54, 169);
}
.c12:hover, .c12:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(179, 54, 169);
}

.t13 {
    fill: rgb(18, 103, 67);
}
.c13 {
    stroke: rgb(18, 103, 67);
}
.c13:hover, .c13:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(18, 103, 67);
}

.t14 {
    fill: rgb(148, 54, 179);
}
.c14 {
    stroke: rgb(148, 54, 179);
}
.c14:hover, .c14:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(148, 54, 179);
}

.t15 {
    fill: rgb(54, 64, 179);
}
.c15 {
    stroke: rgb(54, 64, 179);
}
.c15:hover, .c15:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(54, 64, 179);
}

.t16 {
    fill: rgb(71, 124, 22);
}
.c16 {
    stroke: rgb(71, 124, 22);
}
.c16:hover, .c16:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(71, 124, 22);
}

.t17 {
    fill: rgb(179, 150, 54);
}
.c17 {
    stroke: rgb(179, 150, 54);
}
.c17:hover, .c17:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(179, 150, 54);
}

.t18 {
    fill: rgb(24, 131, 122);
}
.c18 {
    stroke: rgb(24, 131, 122);
}
.c18:hover, .c18:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(24, 131, 122);
}

.t19 {
    fill: rgb(129, 31, 145);
}
.c19 {
    stroke: rgb(129, 31, 145);
}
.c19:hover, .c19:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(129, 31, 145);
}

.t20 {
    fill: rgb(179, 162, 54);
}
.c20 {
    stroke: rgb(179, 162, 54);
}
.c20:hover, .c20:focus {
    fill: rgb(255, 255, 255);
    stroke: rgb(179, 162, 54);
}

/* --- */
.t-tab-container {
    position: relative;
    width: 100%;
}
.t-tab-flex {
    -webkit-box-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}
.t-tab-row {
    position: relative;
    width: 100%;
}

table {
    border-collapse: collapse;
    width: 100%;
}
tbody, tfoot, thead {
    border-bottom: 2px solid #dfe1e6;
}
tbody, tfoot, thead {
    border-bottom: 2px solid #dfe1e6;
}
blockquote:first-child, dl:first-child, form:first-child, h1:first-child, h2:first-child, h3:first-child, h4:first-child, h5:first-child, h6:first-child, ol:first-child, p:first-child, pre:first-child, table:first-child, ul:first-child {
    margin-top: 0;
}

.t-tab {
    table-layout: fixed;
    width: 100%;
    pointer-events: auto;
    margin-top: 0;
}
.t-tab-h {
    color: rgb(94, 108, 132);
    vertical-align: middle;
    text-align: initial;
    padding: 4px 8px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.t-tab-td {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    text-align: initial;
    max-width: 0;
}
